<section class="section banner-section">
    <div class="chat-banner">
        <img src="https://xhouse.xcorp.com.ua/assets/images/phone-banner.png" class="chat-banner__image" alt="">
        <div class="chat-banner__content width-1-1 width-63-lg width-3-4-xlg">
            <h3 class="fs-2 fw-bold">Обери нерухомість своєї мрії з XHouse</h3>
            <p class="fs-4">
                Спробуй наш телеграм-бот для пошуку нерухомості! Введи свої
                побажання і отримай найкращі варіанти прямо в Telegram.
            </p>
            <a href="https://t.me/+VxEVK5LeiRk0NWMy" target="_blank" class="button button__secondary-reverse width-1-1 width-1-4-lg">
                Активувати бот
            </a>
        </div>
    </div>
</section>
