<app-navbar></app-navbar>
<section class="section d-flex flex-column gap-4">
    <h1 class="section__title">Робота в XHouse</h1>
    <div class="d-flex flex-column gap-4">
        <div class="object__owner d-flex flex-column gap-3 flex-lg-row justify-content-between">
            <div class="object__owner-info">
                <img class="object__owner-image" src="https://house-hunter.info/uploads/worker/edf3a5ecc95196f95b6d76b057216b7d/6950_1724609049.jpg" alt="">
                <div class="d-flex flex-column flex-md-row align-items-baseline gap-2">
                    <h5 class="object__owner-name">Каріна</h5>
                    <span class="object__owner-position">
                        Менеджер з персоналу
                    </span>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-between">
                <div class="d-flex gap-2">
                    <a href="viber://chat?number=+380637033398" class="socials__link viber" target="_blank">
                        <img class="socials__icon" src="https://xhouse.xcorp.com.ua/assets/icons/viber.svg" alt="Viber">
                    </a>
                    <a href="https://t.me/+380637033398" class="socials__link telegram" target="_blank">
                        <img class="socials__icon" src="https://xhouse.xcorp.com.ua/assets/icons/telegram.svg" alt="Telegram">
                    </a>
                </div>
                <div>
                    <div class="btn-group dropup">
                        <button type="button" class="button button__secondary-outline" data-bs-toggle="dropdown" aria-expanded="false">
                            Показати телефон
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="tel:+380637033398">
                                    +38 063 703 33 98
                                </a>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="object__description width-1-1 width-3-4-md">
            <h6 class="fs-4 fw-bold">Опис</h6>
            <p>
                У зв’язку з розвитком компанії оголошується набір команди
                агентів з нерухомості.
            </p>

            <p>
                Якщо ви готові діяти, маєте величезні амбіції та нереалізований
                потенціал, не зволікайте та телефонуйте. Ми передаємо вам свої
                знання та навчимо всього, що вміємо.
            </p>

            <p>
                Ми Вас навчимо продавати, працювати пліч-о-пліч, дружити і
                веселитись — будь частиною нашої команди вже зараз!
            </p>
        </div>
        <div class="object__description width-1-1 width-3-4-md">
            <h6 class="fs-4 fw-bold">З нетерпінням чекаємо тебе, якщо :</h6>
            <ul class="list-disc">
                <li>вмієш вести переговори на «мові клієнта»;</li>
                <li>молодий, активний і «не боїшся» нової термінології;</li>
                <li>хочеш працювати на ринку нерухомості;</li>
                <li>
                    ставиш цілі і досягаєш їх. Якщо ти маєш досвід роботи у сфері
                    нерухомості, ми запропонуємо тобі найвигідніші умови праці.
                </li>
            </ul>
        </div>
        <div class="object__description width-1-1 width-3-4-md">
            <h6 class="fs-4 fw-bold">Що буде потрібно робити?</h6>
            <ul class="list-disc">
                <li>
                    консультувати і підключати клієнтів (теплі продажі, вхідні
                    дзвінки, холодні дзвінки);
                </li>
                <li>
                    вести ділові переговори в телефонному режимі, а також в офісі;
                </li>
                <li>розвивати довгострокові стосунки з клієнтом;</li>
                <li>працювати з гарячою базою клієнтів;</li>
                <li>прямі продажі;</li>
                <li>ведення звітної документації про свою роботу.</li>
            </ul>
        </div>
        <div class="object__description width-1-1 width-3-4-md">
            <h6 class="fs-4 fw-bold">Що ти отримаєш від нас?</h6>
            <ul class="list-disc">
                <li>
                    дохід, який прямопропорційно буде залежати від виконаної
                    роботи;
                </li>
                <li>швидкий кар'єрний ріст;</li>
                <li>
                    корпоративне навчання — в тебе буде можливість отримати
                    необхідні і корисні знання;?
                </li>
                <li>комфортна атмосфера для роботи. Лояльні керівники.</li>
                <li>в офісі кава, чай, капучіно.</li>
                <li>прозора система нарахування бонусів;</li>
                <li>безкоштовні професійні та бізнес тренінги;</li>
                <li>світлий, стильний та сучасний офіс;</li>
                <li>веселі корпоративи:)</li>
            </ul>
        </div>
        <p>
            Тобі точно не буде нудно. Довго не думай — скоріш дзвони або
            відправляй своє резюме, щоб приєднатись до нашої команди
            однодумців!
        </p>
    </div>
</section>
<section class="section d-flex flex-column gap-4 width-1-1 width-2-3-md text-center mx-auto">
    <h2 class="fw-bold fs-1">Можливо ми шукаємо саме тебе</h2>
    <p class="fs-5">
        <!--
        XHOUSE пропонує бездоганну інтеграцію з широким колом
        постачальників, забезпечуючи спрощену роботу
        -->
        Заповни поля інформацією про себе і ми запросимо тебе на співбесіду
    </p>
    <form class="d-flex flex-column gap-3 align-items-center" id="form_contact" method="post">
        <input type="hidden" name="type" value="2">
        <label class="width-1-1 width-1-2-xlg">
            <input type="text" class="input" placeholder="Ім'я" minlength="1" maxlength="25" name="contact_name" required="">
        </label>
        <label class="width-1-1 width-1-2-xlg">
            <input type="text" class="input input-phone phone-mask" placeholder="Телефон" name="contact_phone" id="phone" required="">
            <div id="invalid_phone" class="text-danger"></div>
        </label>
        <label class="width-1-1 width-1-2-xlg">
            <textarea class="textarea scroll" placeholder="Щось про себе" maxlength="400" name="contact_description"></textarea>
        </label>
        <!--
        <label
            class="width-1-1 width-1-2-xlg d-flex align-items-center justify-content-center gap-3"
        >
            Завантажити резюме
            <img class="icon" src="https://xhouse.xcorp.com.ua/assets/icons/download.svg" alt="" />
            <input type="file" class="d-none form-file" />
        </label>-->
        <span class="file-name"></span>
        <button type="submit" class="button button__secondary width-1-1 width-1-2-xlg">
            Відправити
        </button>
    </form>
</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<app-footer></app-footer>