<div class="swiper-container-wrapper">
  <div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let photo of photos">
        <img [src]="photo.file_path" [alt]="photo.filename" />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let photo of photos">
        <img [src]="photo.file_path" [alt]="photo.filename" />
      </div>
    </div>
  </div>
</div>
