<!-- admin-orders.component.html -->
<div class="orders-container">
    <h2>Client Orders</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Client Name</th>
          <th>Order Details</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.email_adres }}</td>
          <td>{{ order.name }}</td>
          <td>{{ order.phone }}</td>
          <td>{{ order.ed_status }}</td>
          <td>
            <select [(ngModel)]="order.status" (change)="updateOrderStatus(order.id, order.ed_status)">
                <option value="Pending">Pending</option>
                <option value="Processing">Processing</option>
                <option value="Completed">Completed</option>
                <option value="Canceled">Canceled</option>
              </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  


